.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* font-family: 'Red Hat Display', sans-serif; 
500,700,900
*/
/* bottom part background color:hsl(225, 100%, 98%) */



body{padding:0;
margin:0;
background-image:url("images/pattern-background-desktop.svg");
background-repeat:no-repeat;
background-size:cover;
background-position:center;
background-color:hsl(225, 100%, 94%)
}

.main{background-color:hsl(225, 100%, 98%);
margin:auto;
position:relative;
top:15px;
max-width:450px;
height:575px;
text-align:center;
border-radius:10px;}



*{font-family: 'Red Hat Display', sans-serif;
font-size:16px;}
.hero-img{
border-top-left-radius:10px;
border-top-right-radius:10px;}


.heading{font-weight:900;
color:hsl(223, 47%, 23%);

}
.para
{font-weight:500;
color:hsl(224, 23%, 55%);
padding-left:50px;
padding-right:50px;
padding-bottom:20px;}

.music-icon{
margin:0;
padding-right:20px;}

.plan
{position:relative;
bottom:40px;
font-weight:700;
display:inline-block;
color:hsl(223, 47%, 23%)}

.price
{position:relative;
bottom:5px;
right:93px;
display:inline-block;
color:hsl(224, 23%, 55%);}

.change
{
position:relative;
bottom:20px;
border:none;
background-color:hsl(225, 100%, 98%);
font-weight:500;
text-decoration:underline;
color:hsl(245, 75%, 52%)}

.payment
{background-color:hsl(245, 75%, 52%);
color:hsl(225, 100%, 98%);
border:none;
width:400px;
margin:auto;
display:block;
position:relative;
top:10px;
height:40px;
border-radius:10px;
box-shadow:0 10px 20px hsl(224, 23%, 55%);
}

.cancel
{
margin:auto;
display:block;
color:hsl(224, 23%, 55%);
position:relative;
top:40px;
border:none;
background-color:hsl(225, 100%, 98%)
}

.change:hover{opacity:0.5;}
.payment:hover{opacity:0.5}
.cancel:hover{color:hsl(223, 47%, 23%)}


@media only screen and (max-width: 414px) {
 .main{width:80vw;}
.hero-img{width:80vw;}
.payment{width:70vw;}
}